/* Multicolumn */
.multicolumn {
    column-count: 2;
}
.multicolumn > div:first-child {
    min-width: 200px; /* Replace with the minimum width you want */
}

/* Socials */
.socials {
    border-bottom: none;
    list-style-position: inside;
}

/* Education */
table {
    padding: 0 0 0 10px;
}
td {
    padding: 0 10px 10px 0;
}
ul {
    padding: 0 10px;
}

/* Experience */
.job {
    list-style-type: none; 
    margin: 0 0 20px 0;
}
.job > h3 {
    margin: 0 0 10px 0;
}
.job > p {
    margin: 0 0 5px 0;
}
.employer {
    display: flex;
    align-items: center;
}
.employer h4, p {
    font-weight: normal;
    margin: 0 80px 5px 0;
}

/* Projects */
.project {
    list-style-position: inside;
    margin: 0 0 10px 0;
}
.project p {
    margin: 5px 0 0 10px;
}

/* Others */
.others {
    list-style-position: inside;
    margin: 0 0 10px 0;
}